---
---

<menu>
  <li>
    <button disabled>
      <img src="back-btn.svg" alt="" />
    </button>
  </li>
  <li>
    <button disabled>
      <img src="forward-btn.svg" alt="" />
    </button>
  </li>
</menu>

<style>
  menu {
    display: flex;
    list-style: none;
  }
  img {
    filter: invert(100);
  }
</style>
